@import 'src/assets/scss/base';

.content-block {
  @include content-block();

  .title {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .filter {
    padding-bottom: 20px;

    mat-form-field {
      margin-right: 20px;
    }
    button {
      margin-right: 10px;
    }
  }
  .data {
    margin-top: 20px;
    table {
      width: 100%;
    }
  }

}


/*.users-block {
  .users-filter {
    form {
      display: flex;
      padding-bottom: 10px;

      .input-block {
        width: 15%;
        margin-right: 20px;
      }
      .btn {
        margin-right: 5px;
      }
    }
  }

  .users-table {
    margin-bottom: 20px;

    .btn-primary {
      background-color: $base-color;
      border-color: $base-color;
    }

    .badge-active {
      background: $base-green !important;
    }
    .badge-new {
      background: $base-blue !important;
    }
    .badge-blocked {
      background: $base-danger !important;
    }
  }
}*/

