@import 'src/assets/scss/base';

.users-block {
  .users-filter {
    form {
      display: flex;
      padding-bottom: 10px;

      .input-block {
        width: 15%;
        margin-right: 20px;
      }
      .btn {
        margin-right: 5px;
      }
    }
  }

  .users-table {
    margin-bottom: 20px;

    .btn-primary {
      background-color: $base-color;
      border-color: $base-color;
    }

    .badge-active {
      background: $base-green !important;
    }
    .badge-new {
      background: $base-blue !important;
    }
    .badge-blocked {
      background: $base-danger !important;
    }
  }
}

