<div class="content-block">
  <form [formGroup]="changePasswordUserForm" (ngSubmit)="onSubmit()">
    <h1 class="display-5 title">Create User</h1>

    <div class="form-line">
      <mat-form-field class="example-full-width" appearance="legacy">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error *ngIf="changePasswordUserForm.controls.password.invalid">
          Please enter a password
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-line">
      <mat-form-field class="example-full-width" appearance="legacy">
        <mat-label>Confirm password</mat-label>
        <input type="password" matInput formControlName="confirmPassword">
        <mat-error *ngIf="changePasswordUserForm.controls.confirmPassword.errors?.required">
          Please enter a password
        </mat-error>
        <mat-error *ngIf="changePasswordUserForm.controls.confirmPassword.errors?.notSame">
          Passwords don`t match
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-line">
      <button mat-raised-button color="primary" [disabled]="!changePasswordUserForm.valid">Submit</button>
    </div>
  </form>
</div>

