<div class="user-edit">
  <div class="alert alert-{{responseMessageType}}" role="alert" *ngIf="responseMessage && responseMessageType">
    {{responseMessage}}
  </div>
  <form [formGroup]="changePasswordUserForm" (ngSubmit)="onSubmit()">
    <div class="input-block">
      <input type="password" class="form-control" formControlName="password" placeholder="Password" />
      <div *ngIf="changePasswordUserForm.controls.password.invalid && (changePasswordUserForm.controls.password.dirty || changePasswordUserForm.controls.password.touched)" class="error">
        <div *ngIf="changePasswordUserForm.controls.password.errors?.required">
          Please enter an password
        </div>
      </div>
    </div>
    <div class="input-block">
      <input type="password"  class="form-control" formControlName="confirmPassword" placeholder="Confirm password">
      <div *ngIf="changePasswordUserForm.controls.confirmPassword.invalid && (changePasswordUserForm.controls.confirmPassword.dirty || changePasswordUserForm.controls.confirmPassword.touched)" class="error">
        <div *ngIf="changePasswordUserForm.controls.confirmPassword.errors?.required">
          Please enter an password
        </div>
      </div>
      <div *ngIf="changePasswordUserForm.errors?.notSame" class="error">
        Passwords don`t match
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!changePasswordUserForm.valid">Change</button>
  </form>
</div>
