$base-color: #754d9f;
$white-color: #fff;
$black-color: #000;
$base-grey: #777;
$base-light: #a26ed8;
$background-grey: #f7f7f8;
$background-purple-light: #dedee8;
$background-purple-disabled: #8a8abe;
$base-red: red;
$base-green: #198754;
$base-blue: #0dcaf0;
$base-danger: #dc3545;
