<div class="content-block">
  <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
    <h1 class="display-5 title">Create User</h1>

    <div class="form-line">
      <mat-form-field class="example-full-width" appearance="legacy">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="createUserForm.controls.email.invalid">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-line">
      <mat-form-field class="example-full-width" appearance="legacy">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error *ngIf="createUserForm.controls.password.invalid">
          Please enter a password
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-line">
      <mat-form-field appearance="legacy">
        <mat-label>Role</mat-label>
        <mat-select matNativeControl formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role.key">{{role.title}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-line">
      <mat-form-field appearance="legacy">
        <mat-label>Status</mat-label>
        <mat-select matNativeControl formControlName="status">
          <mat-option *ngFor="let status of statuses" [value]="status.key">{{status.title}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-line">
      <button mat-raised-button color="primary" [disabled]="!createUserForm.valid">Submit</button>
    </div>
  </form>
</div>
