<aside>
  <div class="list-group">
    <a routerLink="/" class="list-group-item list-group-item-action">
      <div class="list-group-body">
        <div class="list-group-body_icon"><i class="fa fa-home"></i></div>
        <div>Home</div>
      </div>
    </a>
    <a routerLink="/cabinet" class="list-group-item list-group-item-action">
      <div class="list-group-body">
        <div class="list-group-body_icon"><i class="fa fa-th"></i></div>
        <div>Dashboard</div>
      </div>
    </a>
    <a routerLink="/cabinet/users" class="list-group-item list-group-item-action">
      <div class="list-group-body">
        <div class="list-group-body_icon"><i class="fa fa-users"></i></div>
        <div>Users</div>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="list-group-body">
        <div class="list-group-body_icon"><i class="fa fa-cogs"></i></div>
        <div>Settings</div>
      </div>
    </a>
  </div>
</aside>
