<div fxLayout="row" *ngIf="user">
  <div class="content-block info">
    <h1 class="display-5 title">User Information</h1>
    <mat-card>
      <mat-card-title>ID</mat-card-title>
      <mat-card-subtitle>{{user._id}}</mat-card-subtitle>
    </mat-card>
    <mat-card>
      <mat-card-title>Email</mat-card-title>
      <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
    </mat-card>
    <mat-card>
      <mat-card-title>Status</mat-card-title>
      <mat-card-subtitle>{{user.status}}</mat-card-subtitle>
    </mat-card>
    <mat-card>
      <mat-card-title>Role</mat-card-title>
      <mat-card-subtitle>{{user.role.name}}</mat-card-subtitle>
    </mat-card>
      <button mat-raised-button color="primary" [routerLink]="['/cabinet/users/edit/' + user._id]">Edit</button>
      <button mat-raised-button color="primary" [routerLink]="['/cabinet/users/change-password/' + user._id]">Change password</button>
      <button mat-raised-button color="warn" (click)="removeUser(user._id)">Delete</button>
  </div>
  <div class="content-block social">
    <h1 class="display-5 title">Social Networks</h1>
  </div>
</div>
